<div class="row">
  <div class="col-md-3">
    <h3>Rooms</h3>
    <ul class="list-group">
      <li class="list-group-item">Lobby</li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="jumbotron">
      <div class="page-header">
        <h2>Welcome to Prater</h2>
      </div>
      <div class="page-header">
        <h2><small>Choose the room on the left to join</small></h2>
        <h2><small>or <a href="" class="btn btn-success">Create</a> a new one</small></h2>
      </div>
    </div>
  </div>
</div>
